management:
  server:
    port: 8080
  info:
    java:
      enabled: true
    os:
      enabled: true
    env:
      enabled: true
    git:
      mode: full
  endpoint:
    shutdown:
      enabled: true
    health:
#      show-details: always
      show-components: always
  endpoints:
    web:
      exposure:
        include: "*"
info:
  app:
    name: hello-actuator
    company: wj

logging:
  level:
    hello.controller: debug

server:
  tomcat:
    mbeanregistry:
      enabled: true

