spring:
  application:
    name: paymentservice

  r2dbc:
    url: r2dbc:mysql://localhost:3306/payment
    username: root
    password: 1234

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  thymeleaf:
    cache: false