debug: false
management.endpoints.web.exposure.include: "*"

logging:
  level:
    com.example.board: debug
    org.springframework.web.servlet: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/board
    username: bobby
    password: localhostTEST
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
#    open-in-view: false
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.default_batch_fetch_size: 100
  h2.console.enabled: true
  sql.init.mode: always
#  data:
#    rest:
#      base-path: /api
#      detection-strategy: annotated
#  thymeleaf.cache: false

---

spring:
  config.activate.on-profile: testdb
#  datasource:
#    url: jdbc:h2:mem:board;mode=mysql
#    driver-class-name: org.h2.Driver
#  sql.init.mode: always
#  test.database.replace: none